# Core app
streamlit
python-dotenv

# LangChain stack (Python 3.12 compatible)
langchain-groq==0.3.1
langchain-core==0.3.47
langchain-chroma==0.1.4

chromadb==0.4.24
numpy==1.26.4
pypdf
requests

# Embeddings stack
torch==2.2.2
transformers==4.39.3
tokenizers==0.15.2
accelerate==0.28.0
sentence-transformers==2.7.0
langchain-huggingface
